# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Python
*__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Data and outputs
data/raw_documents/
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


LICENSE